/* Import Files */
@import url('font-awesome.css');
@import url('https://fonts.googleapis.com/css2?family=DynaPuff&display=swap');

/* Universal Styles */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "DynaPuff", Arial, Helvetica, sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: fit-content;
  text-align: center;
  background-image: url("../img/oceanwaves.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/* Main Content Styles */

.container {
  display: grid;
  width: 80%;
  height: auto;
  margin: 50px auto;
  grid-template-columns: 1fr;
  grid-template-rows: 12vh auto 10vh;
  grid-gap: 10px;
  justify-items: stretch;
  align-items: center;
  grid-auto-flow: column;
  border: 3px solid black;
  background-color: rgb(100, 180, 180);
  overflow: hidden;
}

.navbar {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  overflow: hidden;
  justify-content: flex-start;
  justify-items: center;
  margin-left: 12px;
}

.navbar ul {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}

.navbar button {
  width: 100px;
  background-color: #000;
  color: #fff;
  border-radius: 5px;
  padding: 12px;
  margin: 5px;
  margin-right: 15px;
  font-size: 16pt;
  text-align: center;
  cursor: pointer;
}

.navbar button:hover {
  background-color: #fff;
  color: #000;
}

/* Article Styles */

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /*auto-fill*/
  grid-auto-rows: auto;
  grid-gap: 1rem;
  margin: 1rem;
  background-color: rgb(100, 180, 180);
}

#one {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  overflow: hidden;
  border: 3px solid black;
  border-radius: 5px;
  background-color: whitesmoke;
}

#two {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  overflow: hidden;
  border: 3px solid black;
  border-radius: 5px;
  background-color: whitesmoke;
}

#three {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  overflow: hidden;
  border: 3px solid black;
  border-radius: 5px;
  background-color: whitesmoke;
}

#four {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  overflow: hidden;
  border: 3px solid black;
  border-radius: 5px;
  background-color: whitesmoke;
}

.card-img {
  width: 100%;
  max-width: 100%;
  max-height: 100vh;
  border-radius: 5px 5px 0px 0px;
}

.card-img figcaption {
  position: relative;
  top: -30px;
  text-align: center;
  font-size: 11pt;
  color: whitesmoke;
  text-shadow: 3px 3px 2px #000;
}

.card-text h3 {
  text-align: center;
  text-decoration: underline;
  margin-bottom: 8px;
  font-size: 17pt;
  font-family: "Cambria", "Cochin", "Georgia", "Times New Roman", serif;
}

.card-text p {
  text-align: justify;
  margin-bottom: 10px;
  padding: 10px 12px;
  font-size: 12pt;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.card-ft {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 7px;
}

.card-ft p {
  margin-left: 8px;
}

.card-ft button {
  width: 100px;
  background-color: black;
  color: white;
  border-radius: 16px;
  padding: 8px;
  margin: 5px;
  font-size: 11pt;
  cursor: pointer;
}

.card-ft button:hover {
  opacity: 0.7;
}

/* Footer Styles */

.footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 12px;
}

.footer ul {
  list-style: none;
}

button.logout {
  background-color: black;
  color: white;
  border-radius: 5px;
  padding: 12px;
  border: 2px solid black;
  margin: 10px;
  font-size: 16pt;
  text-align: center;
  cursor: pointer;
}

button.logout:hover {
  opacity: 0.7;
}

/* Media Queries */

@media screen and (max-width: 768px) {
  .container {
    display: grid;
    width: 80%;
    max-width: 100%;
    height: auto;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(auto-fill, minmax(100px, 1fr));
    grid-template-areas:  "hd" 
                          "main"
                          "ft";
    border: 3px solid black;
    overflow: hidden;
    justify-content: center;
    align-items: center;
  }
}

/* Small Devices */

@media screen and (max-width: 600px) {
  
  .header {
    display: flex;
    flex-flow: column wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }

  .navbar ul {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 20px;
    padding: 5px;
  }
  
  .card {
    margin-top: 20px;
  }

  .card-img img {
    display: flex;
    width: 100%;
    max-width: 100%;
    object-fit: cover;
    object-position: center; 
    justify-content: center;
  }

  .card-text h3 {
    padding: 10px;
  }

  .footer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
  }
}

/* Medium & Large Devices */

@media screen and (min-width: 601px) and (max-width: 2000px) {

  .card-img img {
    display: flex;
    width: 100%;
    max-width: 720px;
    object-fit: cover;
    object-position: center; 
    justify-content: center;
  }
}
