form {
  border: 2px solid rgb(255, 255, 255);
}

form .subscribe {
  text-align: center;
  font-weight: bold;
  padding: 5px;
  background-color: rgb(120, 155, 200);
}

input[type=text], input[type=submit] {
  display: inline-block;
  width: 100%;
  padding: 7px;
  margin: 3px 0;
  border: 1px solid white;
  box-sizing: border-box;
}

input[type=checkbox] {
  margin-top: 10px;
}

input[type=submit] {
  font-weight: bold;
  background-color: #000;
  color: white;
  border: none;
}

input[type=submit]:hover {
  opacity: 0.7;
}